<section class="sign-up">
  <header class="d-flex mb-3 justify-content-between align-items-center bg-primary text-white">
    <%= link_to root_path, class: "text-white" do %>
     <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <%end%>
    <h2 class= "justify-self-center">LOG IN</h2>
    <div></div>
  </header>
       <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %> 

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "border-top border-2") do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "", class: ""%>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Passworld", class: "border-top border-2" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
</section>
